div {
  border: 2px solid grey;
  margin: 0;
  padding: 0;
  background-color: brown;
}

h2, h3 {
  text-align: center;
}

.floor {
  display: flex;
  width: 95vw;
  height: 90vh;
  
}

.left {
  width: 60vw;
  position: relative;
}

#room1,
#room2,
#room3 {
  background-color: aquamarine;
}

#room1 {
  position: absolute;
  top: 0;
  height: 39vh;
  width: 33vw;
}

#room2 {
  position: absolute;
  bottom: 0;
  width: 25vw;
  height: 50vh;
}

#room3 {
  position: absolute;
  bottom: 0;
  left: 25vw;
  width: 30vw;
  height: 40vh;
}

#Full {
  position: absolute;
  right: 0;
  width: 16vw;
  height: 39vh;
}

#Half {
  position: absolute;
  right: 16vw;
  height: 39vh;
  width: 10vw;
}

#Full,
#Half {
  background-color: aqua;
}

.right {
  width: 35vw;
}

.kitchen {
  height: 40vh;
  background-color: blue;
}

#sink {
  width: 10vw;
  background-color: goldenrod;
}

#oven {
  width: 5vw;
  height: 15vh;
  background-color: olivedrab;
}


.livingRoom {
  height: 49vh;
  background-color: orange;
}